[Unit]
Description=vault-agent-restarter
Wants=vault-agent-restarter.timer

[Service]
User=root
Type=oneshot
ExecStart=systemctl restart vault-agent

[Install]
WantedBy=default.target