[Unit]
Description=Jetbrains Projector
After=network.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=~/.projector/configs/IDEACommunity2020.3.4/run.sh
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target