[Unit]
Description=brev-sshmon
After=network.target

[Service]
User=root
WorkingDirectory=/home/brev/workspace
ExecStart=/home/linuxbrew/.linuxbrew/bin/brev sshmon

[Install]
WantedBy=default.target