[Unit]
Description=brev-setup
After=network.target

[Service]
User=root
WorkingDirectory=/home/brev/workspace
ExecStart=/home/linuxbrew/.linuxbrew/bin/brev setupworkspace

[Install]
WantedBy=default.target