[Unit]
Description=huproxy
After=network.target

[Service]
User=brev
Environment="USER=brev"
Type=exec
ExecStart=/usr/bin/huproxy -listen 127.0.0.1:22779
ExecReload=/usr/bin/huproxy -listen 127.0.0.1:22779
Restart=always

[Install]
WantedBy=default.target