[Unit]
Description=servicemesh-init
After=network.target

[Service]
User=root
ExecStart=/home/linuxbrew/.linuxbrew/bin/brev tasks configure --user brev

[Install]
WantedBy=default.target