[Unit]
Description=Jetbrains Projector
After=network.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/root/.projector/configs/DataSpell2021.3/run.sh
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
